# --- LaTeX ---
*.aux
*.log
*.synctex.gz
*.toc
*.fls
*.fdb_latexmk
*.out

# --- Jupyter Notebook ---
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Sistema ---
.DS_Store
Thumbs.db

# --- Risultati ---
Results/
